<span style="font-family: Arial; font-weight:bold;font-size:1em;color:#f0f0f0;">......................................
    <span style="font-family: Arial; font-weight:bold;font-size:3.2em;color:#5d067d;">ITP EXAM FOR 30 MARKS

---------

# 4 Questions X 2 Marks = 8 Marks

------------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1. Write a Python Program for adding two binary numbers.
    
**Note:** input is binary equivalent of decimal value 5 and decimal value 21. sum of decimal value 26

In [80]:
a=bin(5)
b=bin(21)
c=int(a,base=2)+int(b,base=2)
c

26

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">2. Write a Python program to find the Factorial of a Number Using Recursion.

#### pseudocode:

Step
1.Define the function fact and pass the number a to function 
2.if a==1 return 1
3.Else return fun(a-1)*a ,it will store the value of each call to stack and  during reverse tract it will multiply its value by poping out from stack
4. Finally print the result

#### Python Code:

In [90]:
def fact(a):
    if(a==1):
        return 1
    else:
        return fact(a-1)*a
a=fact(5)
print(a)

120

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">3. 
    Write a Python Program which will find all numbers divisible by 3, between 4000 and 4200.
    
####  The numbers obtained should be printed in a comma-separated sequence on a single line.

In [91]:
lis=[]
for a in range(4000,4200):
    if(a%3==0):
        lis.append(a)
print(lis)

[4002, 4005, 4008, 4011, 4014, 4017, 4020, 4023, 4026, 4029, 4032, 4035, 4038, 4041, 4044, 4047, 4050, 4053, 4056, 4059, 4062, 4065, 4068, 4071, 4074, 4077, 4080, 4083, 4086, 4089, 4092, 4095, 4098, 4101, 4104, 4107, 4110, 4113, 4116, 4119, 4122, 4125, 4128, 4131, 4134, 4137, 4140, 4143, 4146, 4149, 4152, 4155, 4158, 4161, 4164, 4167, 4170, 4173, 4176, 4179, 4182, 4185, 4188, 4191, 4194, 4197]

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">4. Write a Python program to get user input and the output is the factorial of a given number.
    
Input:6

Output:720

In [92]:
inp=int(input("Enter any integer value: "))
res=fact(inp) # question number 2 factorial function used to save space 
print('Output:',res)

Enter any integer value: 6
Output: 720

--------

# 5 Questions X 3 Marks = 15 Marks

----------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1 . Write a program that calculates and prints the value according to the given formula:

Q = Square root of [(3 * A * B)/C]

**HINT:** Following are the fixed values of A and C:

A is 50. C is 30.

B is the variable whose values should be input to your program in a comma-separated sequence.

Let us assume the following comma separated input sequence is given to the program:

**INPUT:** 200,350,280

**OUTPUT:** 18,22,24

In [93]:
import math

In [95]:
A=50
C=30
inp=input("Enter comma seperate value: ")
B=[]
B=inp.split(sep=',')
for b in B:
    Q=int(math.sqrt((3 * A * int(b))/C))
    print(Q)

#Note above output mentioned in question is not correct

Enter comma seperate value: 200,350,280
31
41
37

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">2 . Write a Python program that accepts a comma separated sequence of words as input and print it after sorting them alphabetically.

**INPUT:**bag,food,eat,pen,with,water

**OUTPUT:**bag,eat,food,pen,water,with

In [98]:
inp=input("Enter comma seperate value")
a=[]
a=inp.split(sep=',')
sort_list=sorted(a)
st1=""
cnt=0
for s in sort_list:
    if(cnt==0): # do not put comma in first word
        st1+=s
        cnt=1
    else:
        st1+=','+s
print('OUTPUT: ',st1)

Enter comma seperate valuebag,food,eat,pen,with,water
OUTPUT:  bag,eat,food,pen,water,with

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">3. Write a Python program that computes the value of X+XX+XXX+XXXX with a given digit as the value of x.



**INPUT:**9


**OUTPUT:**11106

In [99]:
inp=9

#n1=int("n+n")
n=str(inp)
n1=n+n
n2=n+n+n
n3=n+n+n+n
#n2=int('%s%s%s%s',(n,n,n,n))
res=int(n)+int(n1)+int(n2)+int(n3)
print(res)
#int()

11106

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">4. Write a program to create a dictionary as follows.

> Indented block


  **OUTPUT:**  * {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [100]:
dic={}
for i in range(1,16):
    dic[i]=i*i
print('OUTPUT: ',dic)

OUTPUT:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">5. Write a program that displays the letters which are in the First string but not in the Second string.

In [101]:
inp="hello world"
for s in inp:
    if s==" ":
        break
    else:
        print(s)

h
e
l
l
o

-------

## 1 Questions X 7 Marks = 7 Marks

---------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;"> 1.A Create User input and check the year is leap year or not.

In [61]:
# if year is divided by 4 or year is divided by 100 its leap year
inp=int(input('Input the year'))
if inp%4==0 or inp%4==100:
    print(inp," is a leap year")
else:
     print(inp," is a not leap year")

Input the year2016
2016  is a leap year

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1.B) Program to Accept Three Digits and Print all Possible Combinations from the Digits using for and if.

In [67]:
a=int(input("Enter first digit: "))
b=int(input("Enter second digit: "))
c=int(input("Enter third digit: "))
lis=[a,b,c]
for i in range(3):
        if i==0:
                   print(lis[i],lis[i+1],lis[i+2])
                   print(lis[i],lis[i+2],lis[i+1])
        elif i==1:
                   print(lis[i],lis[i-1],lis[i+1])
                   print(lis[i],lis[i+1],lis[i-1])
        elif i==2:
                   print(lis[i],lis[i-1],lis[i-2])
                   print(lis[i],lis[i-2],lis[i-1])

Enter first digit: 2
Enter second digit: 3
Enter third digit: 4
2 3 4
2 4 3
3 2 4
3 4 2
4 3 2
4 2 3

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#5d067d;">1.C) Write a program to Check if a given number is a Palindrome or not.

In [74]:
n=int(input('Enter any number: '))
st=str(n)
if(st==st[::-1]):
    print("Its a palindrom number")
else:
    print("Its not a palindrom number")

Enter any number: 95659
Its a palindrom number

-----------

<span style="font-family: Arial; font-weight:bold;font-size:3em;color:#95b80b;"> THE END

--------