In [64]:
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
import numpy as np
import statsmodels.api as sm
%matplotlib inline
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt   
from sklearn import metrics

In [65]:
df=pd.read_csv('insurance.csv')

# Model 1 with full data

In [66]:
df3=pd.get_dummies(df,drop_first=True)
df3.head()

,age,bmi,children,smoker,claim,gender_male,region_northwest,region_southeast,region_southwest
0,19,27.9,0,1,16884.92,0,0,0,1
1,18,33.8,1,0,1725.55,1,0,1,0
2,28,33.0,3,0,4449.46,1,0,1,0
3,33,22.7,0,0,21984.47,1,1,0,0
4,32,28.9,0,0,3866.86,1,1,0,0

In [67]:
X=df3.drop(columns={'claim'})

In [68]:
Y=df3['claim']

In [69]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(936, 8)
(402, 8)
(936,)
(402,)

In [70]:
lin_reg=LinearRegression()
model_1=lin_reg.fit(X_train,Y_train)
print('R^2 for train:',lin_reg.score(X_train,Y_train))
print('R^2 for test:',lin_reg.score(X_test,Y_test))

('R^2 for train:', 0.7545770426577549)
('R^2 for test:', 0.7406005660648991)

In [55]:
from sklearn.metrics import mean_squared_error

In [71]:
y_pred_1=model_1.predict(X_test)
mse_1=mean_squared_error(Y_test,y_pred_1)
#Mse 1
np.sqrt(mse_1)

6063.103642862725

# Model 2 with insignificant variable

In [73]:
import statsmodels.api as sm
X_constant=sm.add_constant(X)
lin_reg=sm.OLS(Y,X_constant).fit()
lin_reg.summary()

/opt/anaconda2/lib/python2.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  claim   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.9
Date:                Tue, 03 Dec 2019   Prob (F-statistic):               0.00
Time:                        17:24:30   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -1.194e+04    987.811    -12.089      0.000   -1.39e+04      -1e+04
age                256.8392     11.899     21.586      0.000     233.497     280.181
bmi                339.2899     28.598     11.864      0.000     283.187     395.393
children           475.6889    137.800      3.452      0.001     205.360     746.017
smoker            2.385e+04    413.139     57.723      0.000     2.3e+04    2.47e+04
gender_male       -131.3520    332.935     -0.395      0.693    -784.488     521.784
region_northwest  -352.7901    476.261     -0.741      0.459   -1287.095     581.515
region_southeast -1035.5957    478.681     -2.163      0.031   -1974.648     -96.544
region_southwest  -959.3058    477.912     -2.007      0.045   -1896.850     -21.762
==============================================================================
Omnibus:                      300.499   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              719.382
Skew:                           1.212   Prob(JB):                    6.14e-157
Kurtosis:                       5.652   Cond. No.                         311.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Here we can see that gender and region are insignificant variable since p>0.05.So we remove these two variables

In [74]:
df3=df.copy()

In [75]:
df3.head()

   age  gender   bmi  children  smoker     region     claim
0   19  female  27.9         0       1  southwest  16884.92
1   18    male  33.8         1       0  southeast   1725.55
2   28    male  33.0         3       0  southeast   4449.46
3   33    male  22.7         0       0  northwest  21984.47
4   32    male  28.9         0       0  northwest   3866.86

# model with bin

In [27]:
df2['bin_bmi']=df2['bmi'].apply(lambda x:1 if x>=30 else 0)

In [28]:
df2.head()

,age,bmi,children,smoker,claim,gender_male,region_northwest,region_southeast,region_southwest,bin_bmi
0,19,27.9,0,1,16884.92,0,0,0,1,0
1,18,33.8,1,0,1725.55,1,0,1,0,1
2,28,33.0,3,0,4449.46,1,0,1,0,1
3,33,22.7,0,0,21984.47,1,1,0,0,0
4,32,28.9,0,0,3866.86,1,1,0,0,0

In [29]:
X=df2.drop(columns={'claim','bmi'})

In [30]:
Y=df2['claim']

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(936, 8)
(402, 8)
(936,)
(402,)

In [34]:
lin_reg=LinearRegression()
model_2=lin_reg.fit(X_train,Y_train)
print('R^2 for train:',lin_reg.score(X_train,Y_train))
print('R^2 for test:',lin_reg.score(X_test,Y_test))

('R^2 for train:', 0.7592207314000802)
('R^2 for test:', 0.7400814849673618)

In [35]:
y_pred_2=lin_reg.predict(X_test)
mse_2=mean_squared_error(Y_test,y_pred_1)
#Mse 1
np.sqrt(mse_2)

6063.103642862725

# Model Interaction

In [36]:
df2.head()

,age,bmi,children,smoker,claim,gender_male,region_northwest,region_southeast,region_southwest,bin_bmi
0,19,27.9,0,1,16884.92,0,0,0,1,0
1,18,33.8,1,0,1725.55,1,0,1,0,1
2,28,33.0,3,0,4449.46,1,0,1,0,1
3,33,22.7,0,0,21984.47,1,1,0,0,0
4,32,28.9,0,0,3866.86,1,1,0,0,0

In [37]:
df4=df2.head()

In [38]:
df4['bmi_smoker']=df4['bmi']*df4['smoker']

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
df4.head()

,age,bmi,children,smoker,claim,gender_male,region_northwest,region_southeast,region_southwest,bin_bmi,bmi_smoker
0,19,27.9,0,1,16884.92,0,0,0,1,0,27.9
1,18,33.8,1,0,1725.55,1,0,1,0,1,0.0
2,28,33.0,3,0,4449.46,1,0,1,0,1,0.0
3,33,22.7,0,0,21984.47,1,1,0,0,0,0.0
4,32,28.9,0,0,3866.86,1,1,0,0,0,0.0

In [43]:
X=df4.drop(columns={'claim','bmi'})

In [44]:
Y=df4['claim']

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(3, 9)
(2, 9)
(3,)
(2,)

In [46]:
lin_reg=LinearRegression()
model_2=lin_reg.fit(X_train,Y_train)
print('R^2 for train:',lin_reg.score(X_train,Y_train))
print('R^2 for test:',lin_reg.score(X_test,Y_test))

('R^2 for train:', 1.0)
('R^2 for test:', -18432.56395721665)

In [47]:
y_pred_2=lin_reg.predict(X_test)
mse_2=mean_squared_error(Y_test,y_pred_1)
#Mse 1
np.sqrt(mse_2)

ValueError: Found input variables with inconsistent numbers of samples: [2, 402]