# TAKE HOME LAB-EXERCISE - 02

(Kaggle games Dataset)

 We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

**TAKE HOME LAB EXERCISE** answer below question.

In [5]:
import pandas as pd
import os
os.scandir()

**Q.no(1). load the Data 'games.csv' as games.**

In [6]:
game=pd.read_csv('games.csv')

-----

**Q.no(2). Check the head of the DataFrame.**

In [9]:
game.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

-----

**Q.no(3)How many rows and columns are there.**

In [10]:
game.shape

(81312, 20)

-----

**Q.no(4). What is the average Playingtime of all the players in the dataset.**

In [11]:
game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Data columns (total 20 columns):
id                      81312 non-null int64
type                    81312 non-null object
name                    81271 non-null object
yearpublished           81309 non-null float64
minplayers              81309 non-null float64
maxplayers              81309 non-null float64
playingtime             81309 non-null float64
minplaytime             81309 non-null float64
maxplaytime             81309 non-null float64
minage                  81309 non-null float64
users_rated             81312 non-null int64
average_rating          81312 non-null float64
bayes_average_rating    81312 non-null float64
total_owners            81312 non-null int64
total_traders           81312 non-null int64
total_wanters           81312 non-null int64
total_wishers           81312 non-null int64
total_comments          81312 non-null int64
total_weights           81312 non-null int64
average_weight          81312 non-null float64
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

In [12]:
game['playingtime'].mean()

51.63478827682052

-------------------

**Q.no(5).What is the highest number of comments received for a game.**

In [13]:
game['total_comments'].max()

11798

-------

**Q.no(6).What is the name of the game with id 1500.**

In [14]:
gam=game[game['id']==1500]
gam['name']

10592    Zocken
Name: name, dtype: object

------

**Q.no(7).which year was game with id 1600 was published.**

In [15]:

gam=game[game['id']==1600]
gam['yearpublished']

13270    1986.0
Name: yearpublished, dtype: float64

-----

**Q.no(8).Which game has received highest number of comments.**

In [16]:
max_c=game['total_comments'].max()
gam=game[game['total_comments']==max_c]
gam['name']

165     Catan
1965    Catan
Name: name, dtype: object

-----

**Q.no(9).Which games have received least number of comments**

In [17]:
min_c=game['total_comments'].min()
gam=game[game['total_comments']==min_c]
gam['name']

13048                                           Looney Leo
13054                                                 Dump
13068                                        Field of Fire
13095                                             Matheeno
13103    Auction America: The Trivia Game for Any Colle...
                               ...
81307                                 Micro Rome: Aegyptus
81308    Trivial Pursuit: Marvel Cinematic Universe  Da...
81309                                            BEARanoia
81310                                              Freight
81311                                    Bingo Animal Kids
Name: name, Length: 29001, dtype: object

-----

**Q.no(10).How many unique games are there in the dataset.**

In [19]:
game['name'].nunique()

76035

----

**Q.no(11).How many boardgames and boardgameexpansions are there in the dataset.**

In [39]:
game_n=game[(game['type']=='boardgame') |
           (game['type']=='boardgameexpansion')]
game_n.shape[0]

81312

----

**Q.no(12) Show the average ratings of games in ascending order.**

In [49]:
game_n=game.loc[:,['name','average_rating']]
game_n.sort_values('average_rating')

                                          name  average_rating
81311                        Bingo Animal Kids             0.0
46614                              Kugel-Duell             0.0
46615            Langohr, Schlitzohr, Rbe & Co             0.0
46616                                Latty Top             0.0
46617  Golden Years  Retirement Adventure Game             0.0
...                                        ...             ...
76117                                 AEROSTAR            10.0
76116                                 Renegade            10.0
55328                              The Puzzler            10.0
80276                              Filthy Mime            10.0
64898   Kingdom Death: Monster  Gorm Expansion            10.0

[81312 rows x 2 columns]

----

**Q.no(13) Show the average ratings of games in ascending order.**

In [50]:
game_n=game.loc[:,['name','average_rating']]
game_n.sort_values('average_rating')

                                          name  average_rating
81311                        Bingo Animal Kids             0.0
46614                              Kugel-Duell             0.0
46615            Langohr, Schlitzohr, Rbe & Co             0.0
46616                                Latty Top             0.0
46617  Golden Years  Retirement Adventure Game             0.0
...                                        ...             ...
76117                                 AEROSTAR            10.0
76116                                 Renegade            10.0
55328                              The Puzzler            10.0
80276                              Filthy Mime            10.0
64898   Kingdom Death: Monster  Gorm Expansion            10.0

[81312 rows x 2 columns]

----

**Q.no(14).What is the dense rank order of the games as per there average rating.**

In [58]:
game['average_rank']=game['average_rating'].rank(method='dense')
game[['name','average_rank']]

                                                    name  average_rank
0                                      Twilight Struggle       17105.0
1                                          Terra Mystica       17041.0
2                              Caverna: The Cave Farmers       17044.0
3              Through the Ages: A Story of Civilization       16909.0
4                                            Puerto Rico       16788.0
...                                                  ...           ...
81307                               Micro Rome: Aegyptus           1.0
81308  Trivial Pursuit: Marvel Cinematic Universe  Da...           1.0
81309                                          BEARanoia           1.0
81310                                            Freight           1.0
81311                                  Bingo Animal Kids           1.0

[81312 rows x 2 columns]

------

# --------------------------------HAPPY LEARNING---------------------------------------

-------