In [1]:
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
import numpy as np
import statsmodels.api as sm
%matplotlib inline
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt   
from sklearn import metrics

In [2]:
df=pd.read_csv('insurance.csv')

# Model 1 with full data

In [7]:
df3=pd.get_dummies(df,drop_first=True)
df3.head()

,age,bmi,children,smoker,claim,gender_male,region_northwest,region_southeast,region_southwest
0,19,27.9,0,1,16884.92,0,0,0,1
1,18,33.8,1,0,1725.55,1,0,1,0
2,28,33.0,3,0,4449.46,1,0,1,0
3,33,22.7,0,0,21984.47,1,1,0,0
4,32,28.9,0,0,3866.86,1,1,0,0

In [8]:
X=df3.drop(columns={'claim'})

In [9]:
Y=df3['claim']

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(936, 8)
(402, 8)
(936,)
(402,)

In [11]:
lin_reg=LinearRegression()
model_1=lin_reg.fit(X_train,Y_train)
print('R^2 for train:',lin_reg.score(X_train,Y_train))
print('R^2 for test:',lin_reg.score(X_test,Y_test))

('R^2 for train:', 0.7545770426577549)
('R^2 for test:', 0.7406005660648991)

In [12]:
from sklearn.metrics import mean_squared_error

In [15]:
y_pred_1=lin_reg.predict(X_test)
mse_1=mean_squared_error(Y_test,y_pred_1)
#Mse 1
np.sqrt(mse_1)

6063.103642862725

In [26]:
df2=df3.copy()

# model with bin

In [27]:
df2['bin_bmi']=df2['bmi'].apply(lambda x:1 if x>=30 else 0)

In [28]:
df2.head()

,age,bmi,children,smoker,claim,gender_male,region_northwest,region_southeast,region_southwest,bin_bmi
0,19,27.9,0,1,16884.92,0,0,0,1,0
1,18,33.8,1,0,1725.55,1,0,1,0,1
2,28,33.0,3,0,4449.46,1,0,1,0,1
3,33,22.7,0,0,21984.47,1,1,0,0,0
4,32,28.9,0,0,3866.86,1,1,0,0,0

In [29]:
X=df2.drop(columns={'claim','bmi'})

In [30]:
Y=df2['claim']

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(936, 7)
(402, 7)
(936,)
(402,)