In [90]:
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
import numpy as np
import statsmodels.api as sm
%matplotlib inline
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt   
from sklearn import metrics

In [91]:
df=pd.read_csv('insurance.csv')

# Model 1 with full data

In [92]:
df3=pd.get_dummies(df,drop_first=True)
df3.head()

,age,bmi,children,smoker,claim,gender_male,region_northwest,region_southeast,region_southwest
0,19,27.9,0,1,16884.92,0,0,0,1
1,18,33.8,1,0,1725.55,1,0,1,0
2,28,33.0,3,0,4449.46,1,0,1,0
3,33,22.7,0,0,21984.47,1,1,0,0
4,32,28.9,0,0,3866.86,1,1,0,0

In [93]:
X=df3.drop(columns={'claim'})

In [94]:
Y=df3['claim']

In [95]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(936, 8)
(402, 8)
(936,)
(402,)

In [96]:
lin_reg=LinearRegression()
model_1=lin_reg.fit(X_train,Y_train)
print('R^2 for train:',lin_reg.score(X_train,Y_train))
print('R^2 for test:',lin_reg.score(X_test,Y_test))

('R^2 for train:', 0.7545770426577549)
('R^2 for test:', 0.7406005660648991)

In [97]:
from sklearn.metrics import mean_squared_error

In [98]:
y_pred_1=model_1.predict(X_test)
mse_1=mean_squared_error(Y_test,y_pred_1)
#Mse 1
np.sqrt(mse_1)

6063.103642862725

# Model 2 with insignificant variable

In [99]:
import statsmodels.api as sm
X_constant=sm.add_constant(X)
lin_reg=sm.OLS(Y,X_constant).fit()
lin_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  claim   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.9
Date:                Tue, 03 Dec 2019   Prob (F-statistic):               0.00
Time:                        17:38:07   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -1.194e+04    987.811    -12.089      0.000   -1.39e+04      -1e+04
age                256.8392     11.899     21.586      0.000     233.497     280.181
bmi                339.2899     28.598     11.864      0.000     283.187     395.393
children           475.6889    137.800      3.452      0.001     205.360     746.017
smoker            2.385e+04    413.139     57.723      0.000     2.3e+04    2.47e+04
gender_male       -131.3520    332.935     -0.395      0.693    -784.488     521.784
region_northwest  -352.7901    476.261     -0.741      0.459   -1287.095     581.515
region_southeast -1035.5957    478.681     -2.163      0.031   -1974.648     -96.544
region_southwest  -959.3058    477.912     -2.007      0.045   -1896.850     -21.762
==============================================================================
Omnibus:                      300.499   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              719.382
Skew:                           1.212   Prob(JB):                    6.14e-157
Kurtosis:                       5.652   Cond. No.                         311.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Here we can see that gender and region are insignificant variable since p>0.05.So we remove these two variables

In [100]:
df3=df.copy()

In [101]:
df3.head()

   age  gender   bmi  children  smoker     region     claim
0   19  female  27.9         0       1  southwest  16884.92
1   18    male  33.8         1       0  southeast   1725.55
2   28    male  33.0         3       0  southeast   4449.46
3   33    male  22.7         0       0  northwest  21984.47
4   32    male  28.9         0       0  northwest   3866.86

In [102]:
X=df3.drop(columns={'gender','region','claim'})

In [103]:
Y=df3['claim']

In [104]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)
lin_reg=LinearRegression()
model_1=lin_reg.fit(X_train,Y_train)
print('R^2 for train:',lin_reg.score(X_train,Y_train))
print('R^2 for test:',lin_reg.score(X_test,Y_test))
y_pred_1=model_1.predict(X_test)
mse_1=mean_squared_error(Y_test,y_pred_1)
#Mse 1
np.sqrt(mse_1)

(936, 4)
(402, 4)
(936,)
(402,)
('R^2 for train:', 0.7534877516215435)
('R^2 for test:', 0.7391979810361154)

6079.47328915396

# model with bin

In [105]:
df2=df.copy()
df2.head()

   age  gender   bmi  children  smoker     region     claim
0   19  female  27.9         0       1  southwest  16884.92
1   18    male  33.8         1       0  southeast   1725.55
2   28    male  33.0         3       0  southeast   4449.46
3   33    male  22.7         0       0  northwest  21984.47
4   32    male  28.9         0       0  northwest   3866.86

In [106]:
df2['bin_bmi']=df2['bmi'].apply(lambda x:1 if x>=30 else 0)

In [107]:
df2.head()

   age  gender   bmi  children  smoker     region     claim  bin_bmi
0   19  female  27.9         0       1  southwest  16884.92        0
1   18    male  33.8         1       0  southeast   1725.55        1
2   28    male  33.0         3       0  southeast   4449.46        1
3   33    male  22.7         0       0  northwest  21984.47        0
4   32    male  28.9         0       0  northwest   3866.86        0

In [108]:
X=df2.drop(columns={'claim','bmi','gender','region'})

In [109]:
Y=df2['claim']

In [110]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(936, 4)
(402, 4)
(936,)
(402,)

In [111]:
lin_reg=LinearRegression()
model_2=lin_reg.fit(X_train,Y_train)
print('R^2 for train:',lin_reg.score(X_train,Y_train))
print('R^2 for test:',lin_reg.score(X_test,Y_test))

('R^2 for train:', 0.7586859974550313)
('R^2 for test:', 0.739185858528652)

In [112]:
y_pred_2=lin_reg.predict(X_test)
mse_2=mean_squared_error(Y_test,y_pred_1)
#Mse 1
np.sqrt(mse_2)

6079.47328915396

# Model Interaction

In [113]:
df2.head()

   age  gender   bmi  children  smoker     region     claim  bin_bmi
0   19  female  27.9         0       1  southwest  16884.92        0
1   18    male  33.8         1       0  southeast   1725.55        1
2   28    male  33.0         3       0  southeast   4449.46        1
3   33    male  22.7         0       0  northwest  21984.47        0
4   32    male  28.9         0       0  northwest   3866.86        0

In [114]:
df4=df2.copy()

In [115]:
df4['bmi_smoker']=df4['bmi']*df4['smoker']

In [116]:
df4.head()

,age,gender,bmi,children,smoker,region,claim,bin_bmi,bmi_smoker
0,19,female,27.9,0,1,southwest,16884.92,0,27.9
1,18,male,33.8,1,0,southeast,1725.55,1,0.0
2,28,male,33.0,3,0,southeast,4449.46,1,0.0
3,33,male,22.7,0,0,northwest,21984.47,0,0.0
4,32,male,28.9,0,0,northwest,3866.86,0,0.0

In [117]:
X=df4.drop(columns={'claim','gender','region','bin_bmi'})

In [118]:
Y=df4['claim']

In [119]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(936, 5)
(402, 5)
(936,)
(402,)

In [120]:
lin_reg=LinearRegression()
model_2=lin_reg.fit(X_train,Y_train)
print('R^2 for train:',lin_reg.score(X_train,Y_train))
print('R^2 for test:',lin_reg.score(X_test,Y_test))

('R^2 for train:', 0.8366713976492387)
('R^2 for test:', 0.8433016873043822)

In [121]:
y_pred_2=model_2.predict(X_test)
mse_2=mean_squared_error(Y_test,y_pred_2)
#Mse 1
np.sqrt(mse_2)

4712.405347736198