In [26]:
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
import numpy as np
import statsmodels.api as sm
%matplotlib inline
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt   
from sklearn import metrics
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso

In [16]:
df=pd.read_csv('insurance.csv')

In [17]:
df1=df.copy()

In [18]:
df1.head()

   age  gender   bmi  children  smoker     region     claim
0   19  female  27.9         0       1  southwest  16884.92
1   18    male  33.8         1       0  southeast   1725.55
2   28    male  33.0         3       0  southeast   4449.46
3   33    male  22.7         0       0  northwest  21984.47
4   32    male  28.9         0       0  northwest   3866.86

In [19]:
df1=pd.get_dummies(df1,drop_first=True)

In [20]:
df1.head()

,age,bmi,children,smoker,claim,gender_male,region_northwest,region_southeast,region_southwest
0,19,27.9,0,1,16884.92,0,0,0,1
1,18,33.8,1,0,1725.55,1,0,1,0
2,28,33.0,3,0,4449.46,1,0,1,0
3,33,22.7,0,0,21984.47,1,1,0,0
4,32,28.9,0,0,3866.86,1,1,0,0

In [21]:
X=df1.drop(columns={'claim'})
y=df1['claim']

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.3,random_state=1)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(936, 8)
(402, 8)
(936,)
(402,)

In [23]:
import statsmodels.api as sm
X_constant=sm.add_constant(X)
lin_reg=sm.OLS(Y,X_constant).fit()
lin_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  claim   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.9
Date:                Wed, 04 Dec 2019   Prob (F-statistic):               0.00
Time:                        10:49:40   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const            -1.194e+04    987.811    -12.089      0.000   -1.39e+04      -1e+04
age                256.8392     11.899     21.586      0.000     233.497     280.181
bmi                339.2899     28.598     11.864      0.000     283.187     395.393
children           475.6889    137.800      3.452      0.001     205.360     746.017
smoker            2.385e+04    413.139     57.723      0.000     2.3e+04    2.47e+04
gender_male       -131.3520    332.935     -0.395      0.693    -784.488     521.784
region_northwest  -352.7901    476.261     -0.741      0.459   -1287.095     581.515
region_southeast -1035.5957    478.681     -2.163      0.031   -1974.648     -96.544
region_southwest  -959.3058    477.912     -2.007      0.045   -1896.850     -21.762
==============================================================================
Omnibus:                      300.499   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              719.382
Skew:                           1.212   Prob(JB):                    6.14e-157
Kurtosis:                       5.652   Cond. No.                         311.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [24]:
lin_reg.pvalues

const               5.389279e-32
age                 7.908383e-89
bmi                 6.234283e-31
children            5.738428e-04
smoker              0.000000e+00
gender_male         6.932550e-01
region_northwest    4.589762e-01
region_southeast    3.068532e-02
region_southwest    4.492142e-02
dtype: float64

All the variables are given as input and eventually we remove the features one by one which is not creating impact to the model
Performance metric used here to evaluate feature performance is pvalue. If the pvalue is above 0.05 then we remove the feature

In [25]:
#Backward Elimination
cols = list(X.columns)
pmax = 1
while (len(cols)>0):
    p= []
    X_1 = X[cols]
    X_1 = sm.add_constant(X_1)
    model = sm.OLS(y,X_1).fit()
    p = pd.Series(model.pvalues.values[1:],index = cols)   #it is iterating each time untill p<0.05 from entire model   
    pmax = max(p)
    feature_with_p_max = p.idxmax()
    if(pmax>0.05):
        cols.remove(feature_with_p_max)
    else:
        break
selected_features_BE = cols
print(selected_features_BE)

['age', 'bmi', 'children', 'smoker']

Final set of variable-['age', 'bmi', 'children', 'smoker']