# Python List

### 1. Create your own lists otherwise use the List1 = ['a','b','c']  to operate the below Python list  Operations?

### 1. List Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [4]:
List1=['a','b','c']
List1*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

#### 1.B. Concatenation (+):

In [6]:
List1=['a','b','c']
List2=['d','4','r']
List3=List1+List2
List3

['a', 'b', 'c', 'd', '4', 'r']

#### 1.C. Membership:

In [7]:
print('s' in List1)

False

#### 1.D. Length:

In [8]:
len(List1)

3

#### 1.E. Iteration:

In [11]:
for s in List1:
    print(s,end=" ")

a b c

### 2.1. Create your own lists to operate the below Python List Built-in functions?
##### otherwise use the
            List1 = [1, 2, 4, 5, 54]
            List2 = [23,54,789,9876,876,532,56]
            List3 = [1, 2,76543,289,87654,33,456789876,5432,45678]

    A.	max(list)	   
    B.	min(list)	   
    C.	list(seq)

#### 2.C. max(list):

In [12]:
List1 = [1, 2, 4, 5, 54]
max(List1)

54

#### 2.D. min():

In [13]:
min(List1)

1

#### 2.E.list:

In [14]:
list(List1)

[1, 2, 4, 5, 54]

### 3. Create your own lists to operate the below  thePython List built-in methods?
##### otherwise use below list:
           List = ['white','red', 'blue', 'green','blue','yellow', 'black']

    A.	list.append()
    B.	list.clear()	 
    C.	List.copy()	           
    D.	list.count()	       
    E.	list.extend()	  
    F.	list.index()
    G.	list.insert()	
    H.	list.pop()	
    I.	list.remove()	  
    J.	list.reverse()	        
    K.	list.sort()

In [15]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']

#### 3.A) append:

In [17]:
List.append('purple')
List

['white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'purple',
 'purple']

#### 3.B) list.clear():

In [19]:
List2=List
List2

['white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'purple',
 'purple']

In [20]:
List2.clear()
List2

[]

#### 3.C) List.copy()

In [23]:
List = ['white','red', 'blue', 'green','blue','yellow', 'black']

In [24]:
List2=List.copy()
List2

['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']

#### 3. D) list.count(obj):

In [25]:
List.count('red')

1

#### 3.E) list.extend(seq):

In [27]:
List.extend('pink')
List

['white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'p',
 'i',
 'n',
 'k',
 'p',
 'i',
 'n',
 'k']

#### 3.F) list.index(obj):

In [28]:
List.index('red')

1

#### 3.G) list.insert(index, obj):

In [32]:
List2.insert(4,'darkBlue')
List2

['white',
 'red',
 'blue',
 'green',
 'darkBlue',
 'darkBlue',
 'blue',
 'yellow',
 'black']

#### 3.H) list.pop(obj=list[-1]):

In [34]:
List2.pop()
List2

['white', 'red', 'blue', 'green', 'darkBlue', 'darkBlue', 'blue']

#### 3.I) list.remove(obj):

In [36]:
List2.remove('white')
List2

['red', 'blue', 'green', 'darkBlue', 'darkBlue', 'blue']

#### 3.j) list.reverse():

In [38]:
List2.reverse()
List2

['red', 'blue', 'green', 'darkBlue', 'darkBlue', 'blue']

#### 3.K) list.sort([func]):

In [40]:
List2.sort()
List2

['blue', 'blue', 'darkBlue', 'darkBlue', 'green', 'red']

# Python Tuple

### Create your own Tuple to operate the below Python tuple Operations ?
##### otherwise use the
                Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
                Tuple2 = (1,4,1,3,4,5,65)

### 1. Tuple Operations
    A. Repetition (*)
    B. Concatenation (+)
    C. Membership
    D. Length
    E. Iteration

##### 1.A. Repetition:

In [41]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple1*3

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 'white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black')

#### 1.B. Concatenation (+):

In [44]:
Tuple1 = ('white','red', 'blue', 'green','blue','yellow', 'black')
Tuple2 = (1,4,1,3,4,5,65)
Tuple3=Tuple1+Tuple2
Tuple3

('white',
 'red',
 'blue',
 'green',
 'blue',
 'yellow',
 'black',
 1,
 4,
 1,
 3,
 4,
 5,
 65)

#### 1.C) Membership:

In [46]:
print( 4 in Tuple2)

True

#### 1.D) Length:

In [47]:
len(Tuple2)

7

#### 1.E) Iteration:

In [48]:
for c in Tuple2:
    print(c)

1
4
1
3
4
5
65

### 2.Create your own Tuple to operate the below Python tuple inbuilt functions ?
##### otherwise use the
            Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

         A.	max(Tuple)	   
         B.	min(Tuple)	    
         C.	Tuple(seq)

In [49]:
Tuple1 = (11,4,21,4,115,6,13,51,4,16,77,8,17,17,876,89,8765,14,51,11,876,9,3456,4234)

#### 2.A) max():

In [50]:
max(Tuple1)

8765

#### 2.D) min():

In [51]:
min(Tuple1)

4

#### 2.E) Tuple:

In [53]:
tuple(Tuple1)

(11,
 4,
 21,
 4,
 115,
 6,
 13,
 51,
 4,
 16,
 77,
 8,
 17,
 17,
 876,
 89,
 8765,
 14,
 51,
 11,
 876,
 9,
 3456,
 4234)

# Python Set

#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
        Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
        Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

### 1. Set Operations
     A. Union 
     B. Intersection
     C. Difference
     D. Symmetric difference

#### 1.A) Union:

In [55]:
Set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,9876,87654,787654,56}
Set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,678,8765,45,6789,8765,467,887,65}

In [57]:
Set3 =Set1 | Set2
Set3

{1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 876,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

#### 1.B. Intersection

In [59]:
Set3= Set1 & Set2
Set3

{4, 5, 6, 7, 8, 9, 876}

#### 1.C. Difference

In [60]:
Set3=Set2-Set1
Set3

{45, 57, 65, 88, 467, 678, 887, 6789, 7654, 8765}

####  1.D. Symmetric difference:

In [61]:
Set3=Set2^Set1
Set3

{1,
 3,
 45,
 54,
 56,
 57,
 65,
 88,
 436,
 467,
 678,
 887,
 6789,
 7654,
 8765,
 9876,
 87654,
 787654}

# Python Dictionary

#### Create your own Dictionary to operate the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
                           Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

In [62]:
Dictionary = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	len(dict)     
    B.	str(dict)     
    C.	type(variable)

#### 1.A) len(dict):

In [64]:
len(Dictionary)

3

#### 2.B) str(dict):

In [65]:
str(Dictionary)

"{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}"

#### 1.C) type(variable):

In [66]:
type(Dictionary)

dict

### 2.Create your own Dictionary to operate the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:

                            dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

    A.	dic.clear()	
    B.	dict.copy()	   
    C.	dict.fromkeys()
    D.  dict.get(key[, value])    	
    E.	dict.items()	
    F.	dict.keys() 	
    G.	dict.setdefault()	
    H.	dict.update()	
    I.	dict.values()

In [67]:
dictionaries = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.A) dic.clear():

In [68]:
dictionaries1 = {'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dictionaries1.clear()
dictionaries1

{}

#### 2.B) dict.copy():

In [69]:
dictionaries1=dictionaries.copy()
dictionaries1

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}

#### 2.C) dict.fromkeys():

In [71]:
for key in dict.fromkeys(dictionaries):
    print(key)

a
o
g

#### 2.D) dict.get(key[, value]) :

In [72]:
for k in dict.values(dictionaries):
    print(k)

alpha
omega
gamma

#### 2.E) dict.items()

In [74]:
for key,value in dict.items(dictionaries):
    print(key,value)

a alpha
o omega
g gamma

#### 2.F) dict.keys() :

In [76]:
for key in dict.keys(dictionaries):
    print(key)

a
o
g

#### 2.G) dict.setdefault():

In [83]:
dictionaries.setdefault('b') #if the key is not present it will set None otherwise dictionaries.setdefault('c':'we')
dictionaries

{'a': 'alpha', 'o': 'omega', 'g': 'gamma', 'b': None}

#### 2.H) dict.update():

In [84]:
dictionaries.update(a='rr')
dictionaries

{'a': 'rr', 'o': 'omega', 'g': 'gamma', 'b': None}

 #### 2.L)  dict.values():

In [85]:
dictionaries.values()

dict_values(['rr', 'omega', 'gamma', None])

# Conditional Statements

    1. IF 
    2. IF-ELSE
    3. If...Elif...Else

#### 1. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello"

#### 2. Store a number in a variable and check if that variable is equal to 10, If yes, print "Hello", else print "Good Bye"

# While Loop

#### 1. Print Hello World 5 times

# For Loop

#### 1. Take a list [23,1,0,12,45,-1,46], loop through each element and print it

#### 2. Take a list [1,2,3,4,5,6,7,8], loop through each element and print it. But, use break to come out of the loop after printing the second element