In [24]:
import pandas as pd
import os
os.getcwd()

'/Users/rahul/Documents/GitHub/Great_learning_data_science/data_science_python/inexercise'

In [25]:
odi=pd.read_csv('../odi-batting.csv')

In [26]:
odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135

In [27]:
odi.describe() # description about numerical columns

               Runs     ScoreRate
count  55900.000000  55900.000000
mean      22.241413     65.314208
std       25.558363     44.213423
min        0.000000      0.000000
25%        4.000000     37.500000
50%       13.000000     62.660000
75%       32.000000     87.500000
max      200.000000    600.000000

In [28]:
odi.describe(include='object') # NON numeric summary

,Country,Player,MatchDate,Ground,Versus,URL
count,55926,55926,55926,55926,55926,55926
unique,22,1936,2757,178,25,3209
top,India,Sachin R Tendulkar,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1714
freq,6634,442,108,3581,7216,22

In [29]:
odi.describe(include='all') # all column summary

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
count,55926,55926,55900.000000,55900.000000,55926,55926,55926,55926
unique,22,1936,NaN,NaN,2757,178,25,3209
top,India,Sachin R Tendulkar,NaN,NaN,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1714
freq,6634,442,NaN,NaN,108,3581,7216,22
mean,NaN,NaN,22.241413,65.314208,NaN,NaN,NaN,NaN
std,NaN,NaN,25.558363,44.213423,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,37.500000,NaN,NaN,NaN,NaN
50%,NaN,NaN,13.000000,62.660000,NaN,NaN,NaN,NaN
75%,NaN,NaN,32.000000,87.500000,NaN,NaN,NaN,NaN
max,NaN,NaN,200.000000,600.000000,NaN,NaN,NaN,NaN

In [30]:
odi.describe() # numeric columns

               Runs     ScoreRate
count  55900.000000  55900.000000
mean      22.241413     65.314208
std       25.558363     44.213423
min        0.000000      0.000000
25%        4.000000     37.500000
50%       13.000000     62.660000
75%       32.000000     87.500000
max      200.000000    600.000000

In [31]:
odi['Player'].head()

0    Mohammad Shahzad
1    Mohammad Shahzad
2    Mohammad Shahzad
3    Mohammad Shahzad
4    Mohammad Shahzad
Name: Player, dtype: object

In [32]:
cols=['Player','Runs']
odi[cols].head(2)

             Player   Runs
0  Mohammad Shahzad  118.0
1  Mohammad Shahzad  110.0

In [33]:
#Top ten players based on their frequency in player column
odi['Player'].value_counts().head(10)

Sachin R Tendulkar        442
Sanath T Jayasuriya       433
Ricky T Ponting           360
Inzamam-ul-Haq            351
D P Mahela Jayawardene    330
Rahul Dravid              318
Mohammad Azharuddin       308
Jacques H Kallis          303
Shahid Afridi             303
Sourav C Ganguly          300
Name: Player, dtype: int64

In [34]:
print(odi['Runs'].mean())
print(odi['Runs'].median())
print(odi['Runs'].max())
print(odi['Runs'].min())

22.241413237924867
13.0
200.0
0.0

# Filtering

In [35]:
#One column one value filter
sachin_row=odi[(odi['Player']=='Sachin R Tendulkar')]
sachin_row

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
15150,India,Sachin R Tendulkar,200.0,136.05,2-24-2010,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092
15151,India,Sachin R Tendulkar,186.0,124.00,11-8-1999,Lal Bahadur Shastri Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1610
15152,India,Sachin R Tendulkar,175.0,124.11,11-5-2009,Rajiv Gandhi International Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=3050
15153,India,Sachin R Tendulkar,163.0,122.55,3-8-2009,AMI Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2945
15154,India,Sachin R Tendulkar,152.0,100.66,2-23-2003,City Oval,Namibia,../Matches/MatchScorecard_ODI.asp?MatchCode=2052
...,...,...,...,...,...,...,...,...
15587,India,Sachin R Tendulkar,0.0,0.00,12-18-1989,Jinnah Stadium (Gujwranwala),Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=0651
15588,India,Sachin R Tendulkar,0.0,0.00,10-17-1994,Nahar Singh (Mayur) Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1002
15589,India,Sachin R Tendulkar,0.0,0.00,1-23-1997,OUTsurance Oval,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=1236
15590,India,Sachin R Tendulkar,0.0,0.00,10-20-1994,Wankhede Stadium,West Indies,../Matches/MatchScorecard_ODI.asp?MatchCode=1003
15591,India,Sachin R Tendulkar,0.0,0.00,9-17-1994,Sinhalese Sports Club Ground,Sri Lanka,../Matches/MatchScorecard_ODI.asp?MatchCode=0991

In [38]:
#Filter for 'Rahul Dravid ' and how many matches he played so far
rahul_rows=odi[(odi['Player']=='Rahul Dravid')] # datafram and then column condition
rahul_rows.shape[0]

318

In [39]:
sachin_cent=sachin_row[(sachin_row['Runs']>=100)]
sachin_cent.shape[0]

48

In [40]:
rahul_cent=rahul_rows[(rahul_rows['Runs']>=100)]
rahul_cent.shape[0]

12

In [42]:
#Multiple column filter

In [43]:
#calculte no. of centuries  by sachin directly using odi data frame
#sachin_cent=odi[() &()] two  condition two parenthesis
sachin_cent=odi[(odi['Player']=='Sachin R Tendulkar') &
                (odi['Runs']>99)]
sachin_cent.shape[0]

48

In [51]:
sachin_aus=odi[(odi['Player']=='Sachin R Tendulkar') &
               (odi['Runs']>99) &
               (odi['Versus']=='Australia')]
sachin_aus.shape[0]

9

In [54]:
#Single column multiple values
players=['Sachin R Tendulkar','Rahul Dravid']
sachin_rahul=odi[(odi['Player'].isin(players))] # is in
sachin_rahul

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
15150,India,Sachin R Tendulkar,200.0,136.05,2-24-2010,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092
15151,India,Sachin R Tendulkar,186.0,124.00,11-8-1999,Lal Bahadur Shastri Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=1610
15152,India,Sachin R Tendulkar,175.0,124.11,11-5-2009,Rajiv Gandhi International Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=3050
15153,India,Sachin R Tendulkar,163.0,122.55,3-8-2009,AMI Stadium,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2945
15154,India,Sachin R Tendulkar,152.0,100.66,2-23-2003,City Oval,Namibia,../Matches/MatchScorecard_ODI.asp?MatchCode=2052
...,...,...,...,...,...,...,...,...
16205,India,Rahul Dravid,0.0,0.00,8-21-2004,VRA Ground,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=2252
16206,India,Rahul Dravid,0.0,0.00,9-6-2005,Harare Sports Club,New Zealand,../Matches/MatchScorecard_ODI.asp?MatchCode=2379
16207,India,Rahul Dravid,0.0,0.00,4-1-1999,Punjab Cricket Association Stadium,Pakistan,../Matches/MatchScorecard_ODI.asp?MatchCode=1509
16208,India,Rahul Dravid,0.0,0.00,2-8-2004,Sydney Cricket Ground,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=2188
16209,India,Rahul Dravid,0.0,0.00,9-8-2007,Lord's,England,../Matches/MatchScorecard_ODI.asp?MatchCode=2731

In [56]:
odi['Runs'].max()
rows_200=odi[(odi['Runs']==odi['Runs'].max())]
rows_200

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
15150,India,Sachin R Tendulkar,200.0,136.05,2-24-2010,Captain Roop Singh Stadium,South Africa,../Matches/MatchScorecard_ODI.asp?MatchCode=3092

In [59]:
min1=odi['Runs'].min()
rows_200=odi[(odi['Runs']==min1) &
            (odi['Player']=='Sachin R Tendulkar')]
rows_200.shape[0]

20

In [60]:
#Filter rows based on .loc &.iloc

In [62]:
odi.iloc[10] # record for the 11th row

Country                                           Afghanistan
Player                                       Mohammad Shahzad
Runs                                                       11
ScoreRate                                                 100
MatchDate                                           8-17-2010
Ground                                  Cambusdoon New Ground
Versus                                               Scotland
URL          ../Matches/MatchScorecard_ODI.asp?MatchCode=3166
Name: 10, dtype: object

In [63]:
odi.iloc[10]['Country']

'Afghanistan'

In [65]:
odi.iloc[10,[0,5]] # 10th row ,first and sixth columns

Country              Afghanistan
Ground     Cambusdoon New Ground
Name: 10, dtype: object

# iloc
ROW BY POSITION=df.iloc[row_pos]
row position & column name=df.iloc[row_pos][col_name]
row position & column position=df.iloc[row_pos,col_pos]