In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.1'

In [3]:
#Pandas Series (1 Dimension data)
#Pandas Dataframe(2 Dimension data)

# Pandas Series

In [4]:
city={'bangalore':25,'chennai':30,'pune':32}
type(city)

dict

In [5]:
city_series=pd.Series(city)
type(city_series)

pandas.core.series.Series

In [6]:
city_series

bangalore    25
chennai      30
pune         32
dtype: int64

In [7]:
print(city_series.shape)

(3,)

In [9]:
#Access elements by their names/label
print(city_series.loc['chennai']) # locate element by their labels
print(city_series.iloc[1])  # locate elements by their position

30
30

In [12]:
print(city_series.values) # Access all values
print(city_series.index) # get all labels

[25 30 32]
Index(['bangalore', 'chennai', 'pune'], dtype='object')

In [13]:
print(city_series.min())
print(city_series.max())
print(city_series.mean())
print(city_series.sum())
print(city_series.median())
print(city_series.std())
print(city_series.var())
print(city_series.skew())

25
32
29.0
87
30.0
3.605551275463989
13.0
-1.1520696383139377

In [15]:
city_names=pd.Series(['chennai','chennai','banagalore','pune'])
city_names

0       chennai
1       chennai
2    banagalore
3          pune
dtype: object

In [17]:
city_names.value_counts() # identity unique values and then counts frequency of each unique value

chennai       2
banagalore    1
pune          1
dtype: int64

In [18]:
pd.Series([1,1,112,3,3,]).value_counts()

3      2
1      2
112    1
dtype: int64

In [21]:
city_names.describe() # top value with highest frequency

count           4
unique          3
top       chennai
freq            2
dtype: object

In [25]:
city_temp=pd.Series([1,10,23,45,56])
city_summary=city_temp.describe()
city_summary.loc['mean']

27.0

# DataFrame

In [26]:
odi=pd.read_csv('https://bit.ly/2EN4qrx')

In [27]:
odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135